.header__menu {
	margin-right: 30px;
}

.Navbar__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px 125px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.Navbar__menu:hover ul, ul:hover {
	display: block;
}

.Navbar__menu li {
  margin: 10px 0px;
}

.Navbar__menu li a {
  color: #252D51;
  text-decoration: none;
}

.Navbar__menu li a:hover {
  text-decoration: underline;
}

.Navbar__menu--profile {
  align-items: center;
  display: flex;
  cursor: pointer;
  box-shadow:  0px 2px 15px 0px rgba(100,100,100,0.5);
  border-radius: 20px;
  padding: 10px 25px;
}

.Navbar__menu--profile img {
  margin-right: 15px;
  width: 60px;
  border-radius: 50%;
}

.Navbar__menu--profile p {
    font-size: 24pt;
    font-family: 'Amaranth';
    font-weight: 900;
    margin: 0;
}

/** CARDS WALKERS **/

.wrapper {
    padding: 0 60px;
    height: calc(100vh - 125px);
}

.cards {
    width: 70%;
    float: left;
    padding-right: 20px;
}

.cards__title {
    display: flex;
    justify-content: space-between;
}

.cards__items {
    max-height: calc(100vh - 175px);
    overflow: scroll;
}

.cards__item {
    width: 30%;
    float: left;
    margin: 0 15px 20px 15px;
    display: flex;
    flex-direction: column;
}

.cards__item-content {
    border-radius: 30px;
    padding: 90px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 15px 0px rgba(100,100,100,0.5);
}

.bg-dogger-primary {
    background-color: #252D51;
}

.bg-dogger-secondary {
    background-color: #F8F2E4;
}

.cards__item-content > p {
    color: #F9A971;
    text-align: center;
}

.cards__item-content > button {
    background-color: #F9A971;
    border-radius: 15px;
    border: 0;
    color: #ffffff;
    width: 100%;
    padding: 10px 0;
    font-weight: 900;
    margin-bottom: 10px;
}

.cards__item-img {
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 75px;
    align-self: center;
}

.content__paws {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;

}

.content__paws ul li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
}

.content__paws ul li img{
    height: 20px;
}

.sidebar {
    width: 30%;
    float: left;
    padding: 0 20px;
    max-height: calc(100vh - 125px);
    overflow: scroll;
}

.btn-dogger-post {
    background-color: #252D51;
    color: #ffffff;
    font-weight: 900;
    height: 50px;
    padding: 4px 40px;
    border-radius: 10px;
    border: 0;
}

.dogs {
    width: 100%;
    border-radius: 30px;
    padding: 25px 50px;
    margin-bottom: 20px;
}

.dogs ul {
    list-style: none;
    padding: 0;
}

.dogs__list {
    margin-top: 20px;
}

.dogs__list li {
    display: flex;
    align-items: center;
}

.dogs__list li h4 {
    margin: 0;
}

.dogs__list li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.dogs__list li ul li {
    float: left;
    margin-left: 5px;
    color: #888888;
    margin-bottom: 10px;
}

.dogs__button {
    height: 30px;
    width: 30px;
    padding: 30px;
    border-radius: 50%;
    border: 2px solid #F9A971;
    color: #F9A971;
    font-size: 30pt;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}